<% reviews.each do |review| %>
<% if review.user %>
<div class="review card card-outer-border">

  <div class="card-block card-text">
    <p><%= review.content%></p>
    <div class="text-xs-right">
      <%= render partial: "rating_x_small", locals: { rating: review.rating } %>
    </div>
  </div>

  <div class="card-footer">
    <div>
      <a href="<%= user_path(review.user) %>">
        <img src="<%= review.user.picture %>" alt="profile picture" width="50px" height="50px" class="profile-pic" style="float: left; margin:0px 10px;">
        <%= review.user.name %>
      </a>
    </div>

    <div>
      <small><em><%= review.created_at %></em></small>
    </div>
    <div class="text-xs-right like-btn-area">
      <% if review.liked_by?(current_user) %>
      <span class="unlike-btn"><%= link_to image_tag('likes/like-glass-full-x-small-reflection.png'), destroy_like_path(id: Like.find_by(review: review, user: current_user).id), method: :delete %></span>
      <% else %>
      <span class="like-btn"><%=link_to image_tag('likes/like-glass-empty-x-small.png'), create_like_path(review_id: review.id), method: :post %></span>
      <% end %>
      <small><%= review.like_message(current_user) %></small>
    </div>
  </div>
</div>

<% if review.user == current_user %>
<div class="text-xs-right" id="edit-and-delete-links">
  <%= link_to "Edit", edit_review_path(review) %>
  <span id="refreshed_page_delete_review" class="delete_review">
    <%= link_to "Delete", delete_review_path(review) %>
  </span><br><br>
</div>
<% end %>
<% end %>
<hr>
<% end %>