<h1><%= @bar.name %></h1>
<ul>
<li>Address: <%=@bar.address%></li>
<li>DrinkUp Rating: <%=@bar.average_rating %></li>
<li>Yelp Rating: <%=@bar.yelp_rating%></li>
</ul>
<h3>Write a Review</h3>
<%= form_for @review do %>
  <%= f.label :rating, "Rating" %><br>
  <%= f.text_field :rating %><br>
  <%= f.label :content, "Review" %>
  <%= f.label :content, "Review" %>
<% end %>
<h3>Reviews</h3>
<% @bar.reviews.each do |review| %>
  <strong>Written By:</strong> <br>
  <strong>Rating:</strong> <%=review.rating %><br>
  <p><%= review.content%></p><br>
<% end %>