<div class="row">

  <div class="col-xs-5">
    <!-- Bar name, categories, and rating -->
    <h1 id='bar-name' class="montserrat"><%= @bar.name %></h1>
    <strong>
      <ul class="list-inline">
        <% @bar.categories.each do |category| %>
        <li class="list-inline-item">
          <%= link_to category.name, category %><%= " | " unless category == @bar.categories.last %>
        </li>
        <% end %>
      </ul>
    </strong>
    <%= render partial: "rating_small", locals: { rating: @bar.rounded_average_rating } %>
    <em>(<%= @bar.reviews.count %> reviews)</em>

    <br><br>

    <img src="<%= Bar.random_interior_image %>" alt="bar image" class="bar-interior-pic img-fluid">

  </div>

  <div class="col-xs-7">
    <!-- Map card -->
    <div class="card bar-map-card">
      <div id='barmap' class="map"></div>
      <div id='bar-lat' style=display:none><%= @bar.latitude %></div>
      <div id='bar-lng' style=display:none><%= @bar.longitude %></div>
      <ul class="list-group">
        <li class="list-group-item">
          <strong><%= @bar.address %></strong><br>
          <strong><%= @bar.neighborhood.borough ? @bar.neighborhood.borough.name : "New York" %>, NY <%= @bar.zipcode %></strong>
        </li>
        <li class="list-group-item"><%= @bar.neighborhood.name %></li>
      </ul>
    </div>
  </div>

</div>

<hr>

<div id="reviews">
  <div id ="all_reviews">
    <div id="new_review" class="review"></div>
    <% if @classifier.user_review %>
    <h3> Your Review </h3>
    <%= render partial: "reviews", locals: { reviews: [@classifier.user_review] } %>
    <% end %>
    <% if @classifier.reviews_from_following && !@classifier.reviews_from_following.empty? %>
    <h3>Reviews from People You Follow</h3>
    <%= render partial: "reviews", locals: { reviews: @classifier.reviews_from_following } %>
    <% else %>
    <br><br><br>
    <% end %>

    <% if @classifier.reviews_from_nonfollowing && @classifier.reviews_from_following && !@classifier.reviews_from_following.empty? && !@classifier.reviews_from_nonfollowing.empty? %>

    <h3>Other Reviews</h3>
    <%= render partial: "reviews", locals: { reviews: @classifier.reviews_from_nonfollowing } %>
    
    <% elsif @classifier.reviews_from_nonfollowing && !@classifier.reviews_from_nonfollowing.empty? %>
    <h3>Reviews</h3>
    <%= render partial: "reviews", locals: { reviews: @classifier.reviews_from_nonfollowing } %>
    
    <% else %>
    <br><br><br>
    <% end %>

  </div>
  <div id = "new_review_form_area">
    <div id = "new_review_form">
      <% unless @user_review %>
      <h3>Write a Review</h3>
      <%= form_for @review do |f| %>
      <%= f.hidden_field :bar_id, value: @bar.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :rating, "Rating" %><br>
      <%= f.text_field :rating %><br>
      <%= f.label :content, "Review" %><br>
      <%= f.text_area :content%><br>
      <%= f.submit %>
      <% end %>
      <% end %>
    </div>
  </div>
</div>
<br>
<br>
<hr>

<script>
//More maps!
var initShowPageMap = function(lat, lng){

  //access token
  mapboxgl.accessToken = 'pk.eyJ1IjoicmhvcHJoaCIsImEiOiJjaW9mN3J3OGYwMHN5eThtMnJ3enF0aHU4In0.cNczHe5-6C2mHIR5ivaKOw'
  //instantiate map
  var barmap = new mapboxgl.Map({
    container: 'barmap',
    minZoom: 1,
    maxZoom: 19,
    bearing: 29,
    center: [lng, lat],
    zoom: 17,
    style: 'mapbox://styles/mapbox/streets-v9'
  });
  //create marker for the bar
  var createMarker = function(){
    var geo = {"type": "geojson","data": {"type": "FeatureCollection","features": [{"type": "Feature","geometry": {"type": "Point","coordinates": [$('#bar-lng').html(), $('#bar-lat').html()]},"properties": {"title": $("#bar-name").text() }}]}}
    barmap.addSource('barmarker', geo)
  }
  // add it to the map
  var addMarker = function(){
    barmap.addLayer({
      "id": "barmarker",
      "type": "symbol",
      "source": "barmarker",
      "layout": {
        "icon-image": "bar-15",
        "text-field": "{title}",
        "text-font": ["Elementa Pro Bold"],
        "text-offset": [0, 0.6],
        "text-anchor": "top"
      }
    })
  }
  // call the 2 above functions once the map loads
  barmap.on('load', function(){
    createMarker();
    addMarker();
  })

}

$(document).ready(function(){
  var lat = $('#bar-lat').html();
  var lng = $('#bar-lng').html();
  initShowPageMap(lat,lng);
})
</script>
<!--easter egg achievement check -->
<script>
  $(document).ready(function(){
    var barname = $('#bar-name').text()
    $.ajax({
      url: '/bars/easter_egg_achievement',
      type: 'get',
      dataType: 'JSON',
      data: {barname: barname},
    }).done(function(response){
      if (response.achievement) {
        popupAchievement(response)
      }
    })
  }) 
</script>
<!-- mapbox -->
<script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
<link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />

<!-- mapbox-GL -->
<meta name='viewport' content='initial-scale=1,maximum-scale=1,user-scalable=no' />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.18.0/mapbox-gl.css' rel='stylesheet' />
<!--end of scripts -->
