<h1><%= @bar.name %></h1>

<strong><em>
  <ul class="list-inline">
    <% @bar.categories.each do |category| %>
    <li>
      <%= category.name %> 
    </li>
    <% end %>
  </ul>
</h3>
</em></strong>

<div>
  <ul>
    <li><strong>Yelp ID:</strong> <%= @bar.yelp_id %></li>
    <li><strong>Address:</strong>  <%= @bar.address %></li>
    <li><strong>Zipcode:</strong>  <%= @bar.zipcode %></li>
    <li><strong>Lat/Long:</strong>  <%= @bar.lat %> / <%= @bar.long %> </li>

    <li><strong>DrinkUp Rating:</strong>  <%= @bar.average_rating %></li>
    <li><strong>Yelp Rating:</strong>  <%= @bar.yelp_rating %> stars</li>
  </ul>
</div>

<div>
  <h3>Reviews</h3>
  <% if @bar.reviews.count > 0 %>
  <% @bar.reviews.each do |review| %>
  <% if review.user %>
  <strong>Written By:</strong> <%= link_to review.user.name, user_path(review.user) %> <br>
  <strong>Rating:</strong> <%=review.rating %><br>
  <p><%= review.content%></p><br>
  <% end %>
  <% end %>
  <% end %>
</div>

<div>
  <h3>Write a Review</h3>
  <%= form_for @review do |f| %>
  <%= f.hidden_field :bar_id, value: @bar.id %>
  <%= f.hidden_field :user_id, value: current_user.id %>
  <%= f.label :rating, "Rating" %><br>
  <%= f.text_field :rating %><br>
  <%= f.label :content, "Review" %><br>
  <%= f.text_area :content%><br>
  <%= f.submit %>
  <% end %>
</div>
