<h1><%= @bar.name %></h1>

<strong><em>
  <ul class="list-inline">
    <% @bar.categories.each do |category| %>
    <li>
      <%= category.name %>
    </li>
    <% end %>
  </ul>
</em></strong>

<div>
  <ul>
    <li><strong>Yelp ID:</strong> <%= @bar.yelp_id %></li>
    <li><strong>Address:</strong>  <%= @bar.address %></li>
    <li><strong>Zipcode:</strong>  <%= @bar.zipcode %></li>
    <li><strong>Lat/Long:</strong>  <%= @bar.latitude %> / <%= @bar.longitude %> </li>

    <li><strong>DrinkUp Rating:</strong><span id=avg_rating> <%= @bar.average_rating %></span></li>
    <li><strong>Yelp Rating:</strong>  <%= @bar.yelp_rating %> stars</li>
  </ul>
</div>
<div id="hidden_user_name"><%= current_user.name %></div>
<div id="reviews">
  <h3>Reviews</h3>
  <div id="new_review" class=review></div> 
  <div id = all_reviews> 
  <% if @reviews %>
  <% @reviews.each do |review| %>
    <% if review.user %>
      <div class=review>
      <strong>Written By:</strong> <%= link_to review.user.name, user_path(review.user) %> <br>
      <strong>Rating: </strong> <%=review.rating.to_i %><br>
      <p><%= review.content%></p>
      <% if review.user == current_user %>
      <%= link_to "Edit", edit_review_path(review) %> <span id = "delete_review"><br>
      <%= link_to "Delete", delete_review_path(review), remote: true %></span><br><br>
      <% end %>
  </div>
  <% end %>
  <% end %>
  <% end %>
</div>

<div id = "new_review_form">
  <% if !@bar.reviews.any?{|review| review.user == current_user}%>
    <h3>Write a Review</h3>
    <%= form_for @review, remote: true do |f| %>
      <%= f.hidden_field :bar_id, value: @bar.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.label :rating, "Rating" %><br>
      <%= f.text_field :rating %><br>
      <%= f.label :content, "Review" %><br>
      <%= f.text_area :content%><br>
      <%= f.submit %>
    <% end %>
  <% end %>
</div>



