<div class="row vertical-align"><div class="col-sm-10"><h1><%= @user.name %></h1></div>
<div class="col-sm-2">
  <div class="follow-button-area" id="user-<%=@user.id%>" style="float: right">
    <% if @current_user.following?(@user) %>
    <%= button_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', class: 'btn btn-secondary btn-unfollow', remote: true  %>
    <% elsif @current_user != @user %>
    <%= button_to "Follow", {action: 'follow',  id: @user.id}, method: 'post', class: 'btn btn-primary btn-follow', remote: true %>
    <% end %>
  </div>
</div>
</div><hr><br>

<% if @user == current_user %>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Profile Picture URL: </strong><%= "No profile picture uploaded" unless @user.picture %></p>
<%= link_to 'Edit Your Profile', edit_user_path(@user) %>
<% else%>
<% end %>

<hr>
<br>

<div class="row">
  <div class="col-sm-6">
    <h2> Followers </h2>
    <% @user.followers.each do |follower| %>
    <a href="<%=user_path(follower)%>" style="color:inherit">
      <div class="card card-block">
        <img width="50px" height="50px" src="<%=follower.picture%>" class="profile-pic"><%=follower.name%><br>
      </div>
    </a> 
    <% end %>
  </div>
  <div class="col-sm-6">
    <h2> Following </h2>
    <% @user.all_following.each do |followee| %>
    <a href="<%=user_path(followee)%>" style="color:inherit">
      <div class="card card-block">
        <img width="50px" height="50px" src="<%=followee.picture%>" class="profile-pic"><%=followee.name%><br>
      </div>
    </a>
    <% end %>
  </div>
</div>

<hr>
<h2> Reviews </h2>
<br>
<% if @reviews %>
<%= render partial: "reviews", locals: { reviews: @reviews } %>
<% else %>
<p>You don't have any reviews yet.</p>
<% end %>
<%= javascript_include_tag "follow-button" %>
<br>
<br>
<hr>



