<div class="row">
  <div class="col-sm-10">
    <img src="<%= @user.picture %>" class="profile-pic" width="100px" height="100px" style="float: left; margin: 0px 15px;">
    <h1 class="montserrat header-align" style="color: #003366;"><%= @user.name %></h1>
  </div>
  <div class="col-sm-2">
    <div class="follow-button-area" id="user-<%=@user.id%>" style="float: right">
      <% if @current_user.following?(@user) %>
      <%= button_to "Following", {action: 'unfollow', id: @user.id}, method: 'post', class: 'btn btn-secondary btn-unfollow header-align', remote: true  %>
      <% elsif @current_user != @user %>
      <%= button_to "Follow", {action: 'follow',  id: @user.id}, method: 'post', class: 'btn btn-primary btn-follow header-align', remote: true %>
      <% end %>
    </div>
  </div>
</div>

<% if @user == current_user %>
<hr>
<p><strong>Email: </strong><%= @user.email %></p>
<p><strong>Profile Picture URL: </strong><%= @user.picture %></p>
<%= link_to 'Edit Your Profile', edit_user_path(@user) %>
<% else%>
<% end %>

<hr>
<h2> Achievements </h2>
<br>
<div class="row flexy">

  <!-- Progress bar -->
  <div class="col-xs-8 flex-center">
    <div class="text-xs-center">
      <small><%= @user.achievements.count %> / <%= Achievement.all.count %> completed</small>
    </div>
    <progress class="progress progress-success" value="<%= @user.achievements.count %>" max="<%= Achievement.all.count %>"><%= @user.achievements.count %> / <%= Achievement.all.count %></progress>
  </div>

  <!-- Points card -->
  <div class="col-xs-4 flex-center">
    <div class="card card-block flexy" style="overflow: auto;">
      <%= image_tag "/assets/ratings/rating-full-small.png", alt: "beer mug", width: "50px", height: "50px", style:"float: left; margin: 0px 10px;", class:"flex-center" %>
      <p class="flex-center"><strong><%= @user.achievement_point_total %></strong> DrinkUp points earned</p>
    </div>
  </div>
</div>


<hr>
<div class="row">
  <div class="col-sm-6">
    <h2> Followers </h2>

    <!-- No follower card -->
    <% if @user.followers.count == 0 %>
    <div class="card card-block">
      <p>No followers yet.</p>
    </div>
    <% else %>

    <!-- Follower cards -->
    <% @user.followers.each do |follower| %>
    <a href="<%= user_path(follower) %>" style="color:inherit">
      <div class="card card-block">
        <img src="<%= follower.picture %>" class="profile-pic" width="50px" height="50px" style="float: left; margin: 0px 10px;">
        <%=follower.name%>
        <br>
        <small><%= follower.reviews.count %> reviews</small>
        <div class="follow-button-area" id="user-<%=follower.id%>" style="float: right">
          <% if @current_user.following?(follower) %>
          <%= button_to "Following", {action: 'unfollow', id: follower.id}, method: 'post', class: 'btn btn-secondary btn-unfollow btn-align', remote: true  %>
          <% elsif @current_user != follower %>
          <%= button_to "Follow", {action: 'follow',  id: follower.id}, method: 'post', class: 'btn btn-primary btn-follow btn-align', remote: true %>
          <% end %>
        </div>
      </div>
    </a>
    <% end %>

    <% end %>
  </div>

  <div class="col-sm-6">
    <h2> Following </h2>
    <% if @user.all_following.count == 0 %>
    <div class="card card-block">
      <p>Not following anyone yet.</p>
    </div>
    <% else %>

    <!-- Following cards -->
    <% @user.all_following.each do |followee| %>
    <a href="<%=user_path(followee)%>" style="color:inherit">
      <div class="card card-block">
        <img width="50px" height="50px" src="<%=followee.picture%>" class="profile-pic" style="float:left; margin: 0px 10px;">
        <%=followee.name%>
        <br>
        <small><%= followee.reviews.count %> reviews</small>
        <div class="follow-button-area" id="user-<%=followee.id%>" style="float: right">
          <% if @current_user.following?(followee) %>
          <%= button_to "Following", {action: 'unfollow', id: followee.id}, method: 'post', class: 'btn btn-secondary btn-unfollow btn-align', remote: true  %>
          <% elsif @current_user != followee %>
          <%= button_to "Follow", {action: 'follow',  id: followee.id}, method: 'post', class: 'btn btn-primary btn-follow btn-align', remote: true %>
          <% end %>
        </div>
      </div>
    </a>
    <% end %>
    <% end %>
  </div>
</div>

<hr>
<h2> Reviews </h2>
<br>
<% if @reviews %>
<%= render partial: "reviews", locals: { reviews: @reviews } %>
<% else %>
<p>You don't have any reviews yet.</p>
<% end %>
<%= javascript_include_tag "follow-button" %>
<br>
<br>
<hr>
<!--followbuttonachiementlistener-->
<script>
  $(document).ready(function(){
    $('.follow-button-area').click(function(){
      $.ajax({
        url: '/users/follow_user_achievement',
        type: 'get',
        dataType: 'JSON',
      }).done(function(response){
        if (response.achievement) {
          popupAchievement(response)
        }
      })
    })
  })
</script>
