<!DOCTYPE html>
<html>
<head>
  <title>DrinkUpNYC</title>

  <%= favicon_link_tag 'favicon.ico' %>

  <!-- List.js -->
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js' %>

  <!-- Bootstrap 4.0 Links -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

  <%= stylesheet_link_tag :application, media: 'all' %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tags %>

  <!-- Montserrat font for headers -->
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>

</head>
<body>


  <div class="container">
    <%= render "layouts/navbar" %>
    <br>
    <%= yield %>
  </div>

  <!-- Hidden achievement div -->
  <div class="pull hidden-achievement">
    <div style="background-color: white; border-width: 2px; border-style: solid; border-color: black;" class="notification positive">
      <div class="flexx-container">
        <div class="impact">
          <div class="icon">
            <img src='/assets/ratings/rating-full-small.png'>
          </div>
        </div>
        <div class="message-container"style="border-width: 1px; border-style: solid; border-color: black;">
          <div id="ach-name" class="message">
            <strong>jQueryScript is online</strong>
          </div>
        </div>
      </div>
      <p id="ach-content">Points: over 9000!</p>
    </div>
  </div>

  <div class="container-fluid">
    <%= render "layouts/footer" %>
  </div>

</body>
</html>
