<!DOCTYPE html>
<html>
<head>
  <title>DrinkUpNYC</title>

  <!-- List.js -->
  <%= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/list.js/1.2.0/list.min.js' %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <!-- Infinite scrolling via AirBnB -->
  <%= javascript_include_tag 'http://airbnb.io/infinity/build/infinity.min.js' %>

  <!-- Bootstrap 4.0 Links -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.2/css/bootstrap.min.css" integrity="sha384-y3tfxAZXuh4HwSYylfB+J125MxIs6mR5FOHamPBG064zB+AFeWH94NdvaCBm8qnd" crossorigin="anonymous">

</head>
<body>

  <div class="container">
    <%= render "layouts/navbar" %>
    <br>
    <%= yield %>
  </div>

</body>
</html>
